body {
    background-color: bisque;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
a {
    color: chocolate;
}
img {
    height: auto;
    max-width: 80%;
}
ol, ul {
    text-align: left;
    margin: auto;
    max-width: 90%;
    list-style-position: inside;
}